@import "./variables.scss";
@import "./mediaQuery";
@import "./reuseables";

.homepage {
    background-color: $secondary-color;
    min-height: 100vh;
    display: flex;
    // background-color: $white;
}

.body {
    padding-top: 72px;
    @include tablet {
        overflow-x: hidden;
    }

    .topBar {
        background-color: darken($color: $secondary-color, $amount: 2%);
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        padding: $padding-desktop;
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include tablet {
            padding: $padding-mobile;
        }
        &__logo {
            width: 48px;
            height: 48px;
            position: relative;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &__listItems {
            display: flex;
            gap: 12px;
            font-size: $font-size-16 - 2px;
            li {
                list-style: none;
                // border: 1px solid;
                cursor: pointer;
                &:hover {
                    color: $primary-color-light;
                }
            }
        }
        &__rhs {
            display: flex;
            align-items: center;
            gap: 12px;
            .navIcon {
                // border: 1px solid #fff;
                display: inline-flex;
                padding: 8px;
                background-color: $primary-color;
                border-radius: 12px;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }

            .mobileNavContainer {
                width: 100vw;
                height: 100vh;
                position: fixed;
                top: 0;
                left: 0;
                // background-color: #fff;
                background: rgba(59, 57, 57, 0.7);
                backdrop-filter: blur(45px);
                // display: block;
                z-index: 10;
                padding: 20px;
                display: flex;
                flex-direction: column;
                align-items: center;
                -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
                @-webkit-keyframes slide-bottom {
                    from {
                        opacity: 0;
                        right: -100%;
                    }
                }
                @keyframes slide-bottom {
                    from {
                        opacity: 0;
                        right: -100%;
                    }
                }

                &__topArea {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    .logo {
                        width: 48px;
                        height: 48px;
                    }
                    .closeIcon {
                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }

                &__navigationLinks {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    gap: 24px;
                    width: 100%;
                    height: 80%;
                    .navLinks {
                        li {
                            list-style: none;
                            color: $white;
                            text-align: center;
                            // border: 1px solid;
                            padding: 12px;
                            margin-bottom: 32px;
                            font-size: 20px;
                        }
                    }
                    .cta {
                        button {
                            @include big-button;
                        }
                    }
                }
            }
        }
    }

    h2 {
        font-size: $font-size-50;
        font-weight: $fontWeight-900;
        span {
            color: $primary-color-light;
        }
    }
    p {
        span {
            color: $primary-color-light;
        }
    }

    .heroSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 64px;
        padding-bottom: 64px;
        // gap: 4px;
        @include tablet {
            flex-direction: column;
            gap: 96px;
            padding-bottom: 24px;
        }
        .lhs {
            // border: 1px solid #fff;
            flex-basis: 50%;
            width: 100%;

            &__text {
                h2 {
                    margin-bottom: 8px;
                    line-height: $font-size-50 + 5px;
                }
                p {
                    font-size: $font-size-20;
                }
            }
            &__actionButtons {
                display: flex;
                align-items: center;
                gap: 12px;
                margin-top: 20px;
            }
        }
        .rhs {
            flex-basis: 50%;
            // min-width: 100%;
            min-height: 400px;
            // opacity: 0.5;
            // border: 1px solid #fff;
            &__bgImage {
                width: 100%;
                height: 400px;
                position: relative;
                // border: 1px solid #fff;
                img {
                    min-width: 100% !important;
                    min-height: 100% !important;
                    object-fit: contain;
                }
            }
            @include tablet {
                // border: 1px solid #fff;
                width: 100%;
                height: 350px;
                flex-basis: 100%;
                &__bgImage {
                    width: 100%;
                    height: 350px;
                    position: relative;
                    // border: 1px solid #fff;
                    img {
                        min-width: 100% !important;
                        min-height: 100% !important;
                        object-fit: contain;
                    }
                }
            }
        }
    }

    .aboutSection {
        text-align: center;
        padding: 60px 0;
        h2 {
            margin-bottom: 16px;
        }
        p {
            width: 70%;
            margin: 0 auto;
            line-height: $font-size-24;
            margin-bottom: 24px;
        }
        &__icon {
            border: 1.5px solid $primary-color-light;
            width: fit-content;
            width: 60px;
            height: 60px;
            display: grid;
            place-items: center;
            border-radius: 10px;
            margin: 0 auto;
            margin-bottom: 12px;
        }
        &__tokenInfo {
            .header {
                margin-bottom: 12px;

                h4 {
                    color: $primary-color-light;
                    font-size: $font-size-40;
                }
                span {
                    color: $primary-color-light;
                    font-weight: $fontWeight-800;
                }
            }
        }
    }

    .createSection {
        @extend .aboutSection;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        // border: 1px solid #fff;
        @include tablet {
            flex-direction: column;
            gap: 24px;
        }
        .lhs {
            text-align: left;
            flex-basis: 50%;
            // border: 1px solid #fff;
            display: flex;
            flex-direction: column;
            gap: 16px;
            h4 {
                font-size: $font-size-30;
            }
            p {
                margin: 0;
                line-height: $font-size-18;
            }
            &__activities {
                display: flex;
                flex-direction: column;
                gap: 8px;
                .activity {
                    // border: 1px solid #fff;
                    display: flex;
                    flex-direction: column;
                    gap: 4px;
                    opacity: 0.5;
                    &:hover {
                        opacity: 1;
                    }
                    h4 {
                        font-size: $font-size-18;
                        color: $primary-color-light;
                    }
                    span {
                        padding: 8px;
                        background-color: #2e2e2e;
                        border-radius: 12px;
                        padding: 12px;
                        font-size: $font-size-16 - 2px;
                        // max-width: 240px;
                        width: 90%;
                    }
                    .activityGrp {
                        display: flex;
                        flex-direction: column;
                        gap: 4px;
                    }
                }
            }
        }
        .rhs {
            flex-basis: 45%;
            // border: 1px solid #fff;
            display: flex;
            justify-content: flex-end;
            padding: 12px;
            border-radius: 16px;
            border: 1px solid rgba($color: #fff, $alpha: 0.2);
            position: relative;
            overflow: hidden;
            @include tablet {
                flex-basis: 100%;
                width: 100%;
            }
            &::after {
                // background-color: rgba($color: $secondary-color, $alpha: 0.4);
                background: linear-gradient(180deg, rgba($secondary-color, 0.6) 0%, rgba($secondary-color, 0) 100%);
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            &__image {
                // border: 1px solid #00ff6a;
                width: 100%;
                height: 400px;
                display: grid;
                gap: 12px;
                grid-template-columns: repeat(2, 1fr);
                border-radius: 12px;
                overflow: hidden;
                // border: 1px solid #fff;
                span {
                    position: relative;
                    // border: 1px solid #e1ff00;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        object-position: left;
                        animation: imgAmin 5500ms linear infinite alternate;
                        @keyframes imgAmin {
                            0% {
                                scale: 1;
                                object-position: left;
                            }
                            50% {
                                scale: 1.1;
                                object-position: center;
                            }
                            100% {
                                scale: 1.2;
                                object-position: right;
                            }
                        }
                    }
                    &:hover {
                        img {
                            scale: 1.2;
                            object-position: center;
                        }
                    }
                }
            }
        }
    }

    .platformSection {
        display: flex;
        align-items: center;
        justify-content: space-between;
        @extend .aboutSection;
        text-align: left;
        @include tablet {
            flex-direction: column;
            gap: 24px;
            overflow: hidden;
        }
        .lhs {
            p {
                line-height: $font-size-20;
                margin: 0;
                margin-bottom: 8px;
            }
        }
        .rhs {
            flex-basis: 50%;
            height: 400px;
            @include tablet {
                // border: 1px solid #fff;
                flex-basis: 100%;
                width: 100%;
                height: 400px;
                min-height: 400px;
                display: flex;
                align-items: center;
                &__image {
                    min-height: 350px;
                    img {
                        object-position: top;
                    }
                }
            }
            &__image {
                width: 100%;
                height: 100%;
                position: relative;
                // border: 1px solid #fff;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .partnersSection {
        @extend .aboutSection;
        padding-bottom: 120px;
        &__list {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: nowrap;
            overflow-x: auto;
            overflow-y: hidden;
            // height: 100px;
            // overflow: hidden;
            span {
                width: auto;
                height: 110px;
            }
        }
    }

    .updateSection {
        @extend .aboutSection;
        background: linear-gradient(180deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
        width: fit-content;
        margin: 0 auto;
        border-radius: 32px;
        border: 1px solid rgba($color: #fff, $alpha: 0.2);
        &__topIcon {
            margin-bottom: 12px;
        }
        &__content {
            h4 {
                margin-bottom: 8px;
                font-size: $font-size-18;
            }
            p {
                width: 70%;
                margin: 0 auto;
            }
            .actionButtons {
                display: flex;
                align-items: center;
                margin: 0 auto;
                margin-top: 12px;
                width: fit-content;
                gap: 12px;
                .textBtn {
                    height: fit-content;
                }
            }
        }
    }

    .roadmapSection {
        @extend .aboutSection;
        margin: 32px 0;

        .roadmapContainer {
            margin-top: 52px;
            display: flex;
            flex-wrap: nowrap;
            width: 100%;
            overflow-x: auto;
            @extend .scrollArea;
            padding-bottom: 10px;
            &::-webkit-scrollbar {
                height: 4px;
                // background-color: #c8c8c8;
                background-color: rgba($color: $primary-color, $alpha: 0.3);
            }
            &::-webkit-scrollbar-thumb {
                background-color: rgba($color: #fff, $alpha: 0.5);
            }

            .eachRoadMap {
                width: 100%;
                min-width: 250px;
                // border: 1px solid #fff;
                display: flex;
                flex-direction: column;
                gap: 8px;
                &__title {
                    font-size: $font-size-24;
                    font-weight: $fontWeight-900;
                }
                &__line {
                    margin: 12px 0px;
                    width: 100%;
                    height: 6px;
                    background-color: $primary-color-light;
                    display: grid;
                    place-items: center;

                    span {
                        width: 18px;
                        height: 18px;
                        background-color: $primary-color;
                        transform: translateY(-6px);
                        border-radius: 100%;
                        display: grid;
                        place-items: center;
                        &::after {
                            background-color: $white;
                            width: 60%;
                            height: 60%;
                            content: "";
                            border-radius: 100%;
                        }
                    }
                }
                &__activity {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    li {
                        list-style: none;
                    }
                }
            }
        }
    }

    .teamsSection {
        @extend .aboutSection;
        margin: 32px 0;

        .teamsContainer {
            // display: grid;
            // grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            // place-items: center;
            // border: 1px solid #fff;
            gap: 12px;
            .eachTeamMember {
                // border: 1px solid #fff;
                background: linear-gradient(180deg, #2e2e2e 0%, rgba(46, 46, 46, 0) 100%);
                border: 1px solid rgba($color: #fff, $alpha: 0.2);
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 12px;
                border-radius: 24px;
                min-width: 220px;
                @include bigMobilePhone {
                    width: 80%;
                }

                &__image {
                    width: 140px;
                    height: 140px;
                    border-radius: 100%;
                    overflow: hidden;
                    img {
                        object-fit: cover;
                        object-position: top;
                    }
                }
                &__info {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;
                    // border: 1px solid #fff;
                    margin: 8px 0;
                    h6 {
                        font-size: $font-size-16 - 2px;
                        font-weight: $fontWeight-700;
                        margin: 0;
                        margin-bottom: 4px;
                        line-height: $font-size-16 - 2px;
                    }
                    p {
                        margin: 0;
                        font-size: $font-size-16 - 6px;
                        line-height: $font-size-16 - 6px;
                    }
                }
                button {
                    padding: 4px 12px;
                    font-size: $font-size-16 - 4px;
                }
            }
        }
    }

    .getNotifiedSection {
        @extend .aboutSection;
        padding-bottom: 96px;
        border: 1px solid transparent;
        margin-bottom: 48px;
        border-radius: 32px;
        transition: all 600ms ease;
        &__input {
            margin: 0 auto;
            display: flex;
            align-items: center;
            gap: 8px;
            width: fit-content;
            // border: 1px solid #fff;
            margin-top: 24px;
            input {
                // border: 1px solid #fff;
                padding: 12px;
                height: 100%;
                min-height: 37.2px;
                min-width: 300px;
                border-radius: 12px;
                border: none;
                outline: none;
            }
        }
    }

    .footerArea {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 100px;
        &__logo {
            width: 48px;
            height: 48px;
            position: relative;
        }
    }
}

.saveTimeSection {
    @extend .aboutSection;
    text-align: left;
    padding: $padding-desktop;
    background-color: $black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include tablet {
        padding: $padding-mobile;
    }
    svg {
        width: 48px;
        height: 48px;
    }
}

.howToBuySection {
    @extend .saveTimeSection;
    justify-content: flex-start;
    gap: 24px;
    background-color: $white;
    @include tablet {
        flex-direction: column;
        padding-top: 24px;
        padding-bottom: 64px;
        &__lhs {
            overflow: hidden;
            width: 100%;
            .image {
                width: 400px;
                // border: 1px solid #000;
                overflow: hidden;
                margin: 0 auto;
                img {
                    width: 500px;
                    object-fit: cover;
                    object-position: 0px;
                }
            }
        }
        &__rhs {
            // border: 1px solid #000;
            width: 100%;
            align-items: center;
        }
    }
    &__lhs {
        // border: 1px solid #fff;
        .image {
            width: 400px;
            img {
                width: 500px;
                object-fit: cover;
                object-position: -60px;
            }
        }
    }
    &__rhs {
        color: $primary-color;
        // border: 1px solid #000;
        display: flex;
        flex-direction: column;
        gap: 10px;
        h3 {
            font-size: $font-size-40;
            span {
                color: $secondary-color;
            }
        }
        p {
            font-size: $font-size-18;
        }
        .telegramArea {
            display: flex;
            align-items: center;
            p {
                margin: 0;
                display: flex;
                align-items: center;
                svg {
                    rotate: 90deg;
                    width: 20px;
                    height: 20px;
                    margin-left: 2px;
                    // border: 1px solid #000;
                    path {
                        fill: $secondary-color;
                    }
                }
            }
            button {
                margin-left: 12px;
                @include small-button;
                &:hover {
                    background-color: $secondary-color;
                }
            }
        }
    }
}

.scrollToTopIcon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: $white;
    position: fixed;
    bottom: 6%;
    right: 3%;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 100;
    &:hover {
        background-color: $primary-color;
        svg {
            path {
                fill: $white;
            }
        }
    }
    svg {
        path {
            fill: $primary-color;
        }
    }
}
